{% extends 'customers/customer_nav.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
{% block content %}
<html>
<body>
<section class="main" style="height:auto;">
    <div class="main-div" style="width:100%">
            {% csrf_token %}
            <table class="table responsive">
                <tr>
                    <td colspan="3" style="text-align:center:">
                        <center><h1 class="card-title">Sewing Rate details</h1><h4 class="card-title"
                                                                                   style="color:gray;">
                            Requested on: {{req.requested_on}} </h4></center>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table responsive">

                                            <tr>
                                                <th style="text-align:center;">Fabrics Choosen</th>
                                            </tr>
                                            <tr>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">

                                                        {{fabric1.name}}
                                                    </div>
                                                </td>

                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">

                                                        <img class="rounded mx-auto d-block" height="100px"
                                                             src="{{fabric1.image.url}}"
                                                             width="100px">
                                                    </div>
                                                </td>

                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">
                                                        ₹ {{fabric1.price}}
                                                    </div>
                                                </td>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">
                                                        <label class="form-label">Qty : </label>
                                                        {{rate.fabric1_qty}}

                                                    </div>
                                                </td>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">
                                                        <label class="form-label">Fabric cost : </label>
                                                        ₹ {{rate.price1}}
                                                    </div>
                                                </td>
                                            </tr>

                                            {% if fabric2 != '' %}
                                            <tr>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">

                                                        {{fabric2.name}}
                                                    </div>
                                                </td>

                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">

                                                        <img class="rounded mx-auto d-block" height="100px"
                                                             src="{{fabric2.image.url}}"
                                                             width="100px">
                                                    </div>
                                                </td>

                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">
                                                        ₹ {{fabric2.price}}
                                                    </div>
                                                </td>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">


                                                        <div class="mb-3">
                                                        <label class="form-label">Qty : </label>
                                                        {{rate.fabric2_qty}}

                                                    </div>
                                                    </div>
                                                </td>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">
                                                        <label class="form-label">Fabric cost : </label>
                                                        ₹ {{rate.price2}}
                                                    </div>
                                                </td>

                                            </tr>
                                            {% endif %}
                                            {% if fabric3 != '' %}
                                            <tr>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">

                                                        {{fabric3.name}}
                                                    </div>
                                                </td>

                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">

                                                        <img class="rounded mx-auto d-block" height="100px"
                                                             src="{{fabric3.image.url}}"
                                                             width="100px">
                                                    </div>
                                                </td>

                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">
                                                        ₹ {{fabric3.price}}
                                                    </div>
                                                </td>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">

                                                        <div class="mb-3">
                                                        <label class="form-label">Qty : </label>
                                                        {{rate.fabric3_qty}}

                                                    </div>
                                                    </div>
                                                </td>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">
                                                        <label class="form-label">Fabric cost : </label>
                                                        ₹ {{rate.price3}}
                                                    </div>
                                                </td>

                                            </tr>
                                            {% endif %}

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table responsive">
                                            <tr>
                                                <td style="text-align:center;align-item:center;justify-content:center;vertical-align: middle;">
                                                    <div class="mb-3">
                                                        <label class="form-label" style="font-size:19px;font-weight:700">Sewing Charge : </label>
                                                        ₹ {{rate.sewing_charge}}
                                                    </div>
                                                    </td>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label" style="font-size:19px;font-weight:700">Design Charge : </label>
                                                        ₹ {{rate.design_charge}}
                                                    </div>
                                                    </td>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label" style="font-size:19px;font-weight:700">Total Price : </label>
                                                        ₹ {{rate.total_price}}
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card" style="height:585px">
                                    <div class="card-body">
                                        <table class="table responsive">
                                            <tr>
                                                <th colspan="2" style="text-align:center;">customer details</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Name : </label>

                                                        {{req.user_id.firstname}}&nbsp;{{req.user_id.lastname}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Address : </label>

                                                        {{req.user_id.address}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Phone No : </label>

                                                        {{req.user_id.phone_no}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Email : </label>
                                                        {{req.user_id.email}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3" style="color:red;">
                                                        <label class="form-label"> Delivery
                                                            Date: </label>

                                                        {{req.delivery_date}}
                                                    </div>
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card" style="height:585px">
                                    <div class="card-body">
                                        <table class="table responsive">
                                            <tr>
                                                <th style="text-align:center;">Design Details</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Design : </label>

                                                        <img class="rounded mx-auto d-block" height="295px"
                                                             src="{{req.design_id.image.url}}"
                                                             width="205px">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Name : </label>

                                                        {{ req.design_id.name }}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Designer Name : </label>

                                                        {{ req.design_id.designer_id.firstname }}
                                                        {{req.design_id.designer_id.lastname }}
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table responsive">
                                            <tr>
                                                <th colspan="2" style="text-align:center;">Measurement details</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Brand Size : </label>

                                                        {{measurement.brand_size}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Chest Measurement : </label>

                                                        {{measurement.chest_measurement}} inch
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Waist Measurement : </label>

                                                        {{measurement.waist_measurement}} inch
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Hip Measurement : </label>
                                                        {{measurement.hip_measurement}} inch
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Shoulder Measurement: </label>
                                                        {{measurement.shoulder_measurement}} inch
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Sleeve Length : </label>
                                                        {{measurement.sleeve_length}} inch
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="mb-3">
                                                        <label class="form-label">Outseam Length : </label>
                                                        {{measurement.outseam_length}} inch
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            </table>

    </div>
</section>
</body>
</html>

{% endblock content %}
