{% extends 'officers/officers_nav.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

{% block content %}
<section class="main">
    <center><h4> Reported Offences</h4></center>
    {% if count == 0 %}
     <center>
    <div class="col-xs-12"  style="padding:10px;">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-warning" role="alert" style="width:50%;">
                <li style="list-style-type: none;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    </center>
    {% else %}
<center>
    <div class="col-xs-12"  >
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-warning" role="alert" style="width:50%;">
                <li style="list-style-type: none;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    </center>
    <div class="main-div" style="padding:40px">
        <table border="1" class="table table-striped table-hover">
            <tr>
                <th>Offence Id</th>
                <th>Reported On</th>
                <th>Vehicle No</th>
                <th>Details</th>
                <th>Image</th>
                <th>Officer</th>
                <th>Violation</th>
                <th>Violation Details</th>
                <th>Fine</th>
                <th>Reporter Id</th>
                <th>Reporter</th>
                <th>Offence Status</th>
                <th>User Status</th>
            </tr>
            {% for i in page_obj %}
            <tr>
                <td>{{i.offence_id}}</td>
                <td>{{i.reported_on}}</td>
                <td>{{i.vehicle_no}}</td>
                <td>{{i.details}}</td>
                <td><img alt="" height="80px" src="{{i.image.url}}" width="80px"></td>
                <td>{{i.officer_id.name}}</td>
                <td>{{i.violation_id.violation}}</td>
                <td>{{i.violation_id.details}}</td>
                <td>{{i.violation_id.fine}}</td>
                <td>{{i.reporter_id}}</td>
                <td>{{i.reporter_id.first_name}} {{i.reporter_id.first_name}}</td>
                {% if i.offence_status %}
                <td>Verified</td>
                {% else %}
                <td><a class="btn btn-danger" href="{% url 'verify_offender' login_id i.offence_id i.vehicle_no %}">Verify</a></td>
                {% endif %}
                {% if not i.offence_status and not i.user_status %}
                <td></td>
                {% elif i.offence_status and not i.user_status %}
                <td>Non-User of the Application </td>
                {% else %}
                <td>Offender is a registered User</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

    </div>

    <center>{% include "pagination.html" %}</center>
     {% endif %}
</section>
{% endblock content %}
