{% extends 'recycling_unit/recy_nav.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<head>
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
</head>
{% block content %}
<section class="main">
    {% if count == 0 %}
    <center>
        <div class="col-xs-12" style="padding:10px;">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <div class="alert alert-warning" role="alert" style="width:50%;">
                    <li %} %} class="{{ message.tags }}" endif if message.tags style="list-style-type: none;" {% {%>{{ message }}
                    </li>
                </div>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </center>
    {% else %}
    <div class="main-div">
        <table border="1" class="table table-hover table-responsive">
            <tr>
                <th>CUSTOMER</th>
                <th>DATE</th>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>PHONE NUMBER</th>
                <th>STATE</th>
                <th>DISTRICT</th>
                <th>CITY</th>
                <th>EMAIL</th>
                <th>PRODUCT</th>
                <th>PRODUCT NAME</th>
                <th>PRODUCT PRICE</th>
                <th>Action</th>
            </tr>

            {% for i in page_obj %}
            <tr>

                <td><img alt="" height="100px" src="{{i.rc_product_id.product_id.customers_id.profile_pic.url}}" width="100px"></td>
                <td>{{i.accepted_on}}</td>
                <td>{{i.rc_product_id.product_id.customers_id.firstname}} {{i.rc_product_id.product_id.customers_id.lastname}}</td>
                <td>{{i.rc_product_id.product_id.customers_id.address}}</td>
                <td>{{i.rc_product_id.product_id.customers_id.phone}}</td>
                <td>{{i.rc_product_id.product_id.customers_id.state}}</td>
                <td>{{i.rc_product_id.product_id.customers_id.district}}</td>
                <td>{{i.rc_product_id.product_id.customers_id.city}}</td>
                <td>{{i.rc_product_id.product_id.customers_id.email}}</td>
                <td ><img alt="" height="100px" src="{{i.rc_product_id.product_id.image.url}}" width="100px"></td>
                <td>{{i.rc_product_id.product_id.name}}</td>
                <td>₹ {{i.rc_product_id.product_id.price}}</td>
                <td><a class="btn btn-danger" href="{% url 'recycle_product_collected' login_id i.req_id %}">Product Collected</a></td>

            </tr>
            {% endfor %}
        </table>
    </div>
    <center>{% include "pagination.html" %}</center>
    {% endif %}

</section>
{% endblock content %}
