{% extends 'recycling_unit/recy_nav.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}

    <head>
    <link href="{% static 'css/sstyle.css' %}" rel="stylesheet">
</head>
{% block content %}

<!--<section class="main">-->
<!--    <center>-->
<!--&lt;!&ndash;        <div class="col-xs-12" style="padding:10px;">&ndash;&gt;-->
<!--&lt;!&ndash;            {% if messages %}&ndash;&gt;-->
<!--&lt;!&ndash;            <ul class="messages">&ndash;&gt;-->
<!--&lt;!&ndash;                {% for message in messages %}&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="alert alert-warning" role="alert" style="width:50%;">&ndash;&gt;-->
<!--&lt;!&ndash;                         <li style="list-style-type: none;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>&ndash;&gt;-->

<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                {% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--&lt;!&ndash;            {% endif %}&ndash;&gt;-->
<!--        </div>-->
<!--    </center>-->
    <div class="main-div" >

        <form action="" method="POST" enctype="multipart/form-data" style="width:700px">
            {% csrf_token %}
            <div class="shonnappi">
                <label class="form-label">unit id</label>
                <input class="form-control" disabled type ="text" value="{{recycling.recycle_id}}">
            </div>
             <div class="shonnappi">
                <label class="form-label">unit name</label>
                <input class="form-control" disabled type ="text" value="{{recycling.unit_name}}">
             </div>

            <div class="shonnappi">
                <label class="form-label">phone</label>
                <input class="form-control" disabled type ="text" value="{{recycling.phone}}">
            </div>
            <div class="shonnappi">
                <label class="form-label" for="exampleFormControlTextarea1">address</label>
                <input class="form-control" disabled type ="text" value="{{recycling.address}}">
            </div>
            <div class="shonnappi">
                <label class="form-label">state</label>
                <input class="form-control" disabled type ="text" value="{{recycling.state}}">
            </div>
            <div class="shonnappi">
                <label class="form-label">district</label>
                <input class="form-control" disabled type ="text" value="{{recycling.district}}">
            </div>
            <div class="shonnappi">
                <label class="form-label">city</label>
                <input class="form-control" disabled type ="text" value="{{recycling.city}}">
            </div>
            <div class="shonnappi">
                <label class="form-label">street</label>
                <input class="form-control" disabled type ="text" value="{{recycling.street}}">
            </div>
            <div class="shonnappi">
                <label class="form-label">email</label>
                <input class="form-control" disabled type ="text" value="{{recycling.email}}">
            </div>
            <div class="shonnappi">
                <label class="form-label">password</label>
                <input class="form-control" disabled type ="text" value="{{recycling.password}}">
            </div>
            <div class="shonnappi">
                <label class="form-label">id proof</label>
                <img class="rounded mx-auto d-block" src="{{recycling.id_proof.url}}">
            </div>
            <div class="shonnappi">
                <a class="btn btn-outline-success mx-auto d-grid gap-2 col-6"
                   href="{% url 'edit_recycling_unit_profile' login_id %}">edit</a>
            </div>
            <br>
            <br>

        </form>
    </div>
</section>
{% endblock content %}