{% extends 'admin/admin_nav.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<head>
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
</head>
{% block content %}
<section class="main">
    <center><h4> Approve Ambulance Drivers List </h4></center>
    <div class="main-div">
        <table border="1" class="table table-striped">
            <tr>
                <th>Driver Id</th>
                <th>Profile Pic</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Phone No</th>
                <th>State</th>
                <th>City</th>
                <th>Email</th>
                <th>Id Proof</th>
                <th colspan="2">Operations</th>
            </tr>

            {% for i in page_obj %}
            <tr>
                <td>{{i.driver_id}}</td>
                <td><img alt="" height="50px" src="{{i.profile_pic.url}}" width="50px"></td>
                <td>{{i.firstname}}</td>
                <td>{{i.lastname}}</td>
                <td>{{i.address}}</td>
                <td>{{i.phone_no}}</td>
                <td>{{i.state}}</td>
                <td>{{i.city}}</td>
                <td>{{i.email}}</td>
                <td><img alt="" height="50px" src="{{i.id.url}}" width="50px"></td>

                <td><a class="btn btn-success" href="{% url 'approve_ambulance_driver' login_id i.driver_id %}">Approve</a>
                </td>
                <td><a class="btn btn-danger" href="{% url 'reject_ambulance_driver' login_id i.driver_id %}">Reject</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <center>{% include "pagination.html" %}</center>
</section>
{% endblock content %}
