{% extends 'admin/admin_nav.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<head>
    <link href="{% static 'css/style1.css' %}" rel="stylesheet">
</head>
{% block content %}
<section class="main">
    <div class="main-div">
        <table border="1" class="table table-striped">
            <tr>
                <th>Violation Id</th>
                <th>Violation</th>
                <th>Details</th>
                <th>Fine</th>

            </tr>
            {% for i in page_obj %}
            <tr>
                <td>{{i.violation_id}}</td>
                <td>{{i.violation}}</td>
                <td>{{i.details}}</td>
                <td>{{i.fine}}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
    <center>{% include "pagination.html" %}</center>
</section>
{% endblock content %}
