{% extends 'users/user_nav.html' %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<head>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
{% block content %}
<body>
<section class="main" style="height:auto;">
    <center><h4> Book Ambulance  </h4></center>
        <center>
    <div class="col-xs-12"  style="padding:10px;">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-warning" role="alert" style="width:50%;">
                <li style="list-style-type: none;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
            <h2>Patient Details</h2>
    </center>
    <div class="main-div">
        <form action=""   method="post">
            {% csrf_token %}
         {% bootstrap_form form_key %}

            <div class="mb-3">
                <select name="hospital" class="form-control">
                    <option class="form-control" >Select</option>
                    {% for i in hospitals %}
                    <option class="form-control" value="{{i.hospital_id}}">
                        {{i.name}}, {{i.address}}, {{i.phone_no}}, {{i.city}}, {{i.state}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <input name="latitude" id="latitude" style="display: none;">
            <input name="longitude" id="longitude" style="display: none;">
            <div class="mb-3">
                <input class="btn btn-primary mx-auto d-grid gap-2 col-12" id="get-user-location" type="submit" value="Proceed">
            </div>
            <br>
            <br>
        </form>
    </div>
</section>


{% endblock content %}
